@model GradingLog.Models.EntitiesModel

<div class="layout">
    <div class="student__header">
        <h1>Student</h1>
    </div>
    <p>@Model.studentEntitiy.FirstName</p>
    <p>@Model.studentEntitiy.LastName</p>
</div>

<ul>
    @foreach (var schedudel in Model.SchedulesEntity)
    {
        <li>@schedudel.SchoolSubject.Name, @schedudel.SchoolSubject.Teacher.FirstName @schedudel.SchoolSubject.Teacher.LastName</li>
    }
</ul>

<ul>
    @foreach (var grade in Model.GradesEntity)
    {
    <li>@grade.SchoolSubject.Name, @grade.Grade</li>
    }
</ul>


